.desktopNavigationWrapper{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: navy;
    padding: 2rem;
    margin:20px;
}

.navigationIcon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.signInButton{
    grid-column: 15/16;
}

.profile{
    grid-column: 15/16;
}

span {
    font-weight: bold;
    margin: 10px;
}

span.hover {
    cursor: pointer;
}