.desktopNavigationWrapper{
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    background-color: navy;
}

.navigationIcon{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.signInButton,
.profile{
    grid-column: 15/16;
}

.signInButton:hover{
    grid-column: 15/16;
    cursor: pointer;
    color: white;
    font-weight: 1000;
    font-family: 'roboto', sans-serif;
    padding: 5%;
}

.desktopNavigationTabs{
    grid-column: 7/9;
    align-items: center;
}